<html class="">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>

<body style="line-height: 25px;">
    <table border="0" cellpadding="0" cellspacing="0" style="max-width: 600px; margin: 0 auto;">
        <tbody>
            <tr>
                <td>
                    <p style="text-align: justify;">
                        <br />
                        Kính gửi thí sinh @Model.FullName, <br />
                        <br />
                        Tổ chức Giáo dục IIG Việt Nam cảm ơn bạn đã quan tâm và đăng ký dự thi bài thi TOPIK I - Kỳ thi TOPIK lần thứ 91 (diễn ra ngày 12/11/2023) do IIG Việt Nam tổ chức. <br />
                        <br />
                        Trong email <strong>Đính chính nội dung Email “Thông báo: Đăng ký thành công bài thi TOPIK I” - Kỳ thi TOPIK lần thứ 91</strong> mà chúng tôi đã gửi bạn vào ngày 29/08/2023 vừa qua, chúng tôi rất xin lỗi về việc đã thông báo đến bạn thông tin chưa chính xác về khu vực thi. <br />
                        <br />
                        Theo đó, IIG Việt Nam xin phép được đính chính thông tin đăng ký dự thi của bạn chính xác như sau:
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <table border="0" cellpadding="10" cellspacing="0" width="100%">
                        <tbody>
                            <tr>
                                <td>- Họ và tên tiếng Hàn</td>
                                <td>@Model.FullNameKorea</td>
                            </tr>
                            <tr>
                                <td>- Họ và tên tiếng Việt</td>
                                <td>@Model.FullName</td>
                            </tr>
                            <tr>
                                <td>- Ngày/tháng/năm sinh</td>
                                <td>
                                    @Model.Birthday
                                </td>
                            </tr>
                            <tr>
                                <td>- Tên bài thi</td>
                                <td>TOPIK I</td>
                            </tr>
                            <tr>
                                <td>- Khu vực thi</td>
                                <td>@Model.AreaTest</td>
                            </tr>
                            <tr>
                                <td>- Địa điểm thi</td>
                                <td>@Model.PlaceTest</td>
                            </tr>
                            <tr>
                                <td>- Địa chỉ</td>
                                <td>@Model.Address</td>
                            </tr>
                            <tr>
                                <td>- Ngày dự thi</td>
                                <td>
                                    12/11/2023
                                </td>
                            </tr>
                            <tr>
                                <td>- Thời gian kết thúc vào phòng</td>
                                <td>9:10</td>
                            </tr>
                            <tr>
                                <td>- Thời gian thi</td>
                                <td>9:40 - 11:20</td>
                            </tr>
                            <tr>
                                <td>- Mã giao dịch</td>
                                <td>@Model.Trans</td>
                            </tr>
                            <tr>
                                <td>- Thời gian thanh toán</td>
                                <td>@Model.DateTimePaid</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr style="text-align: justify;">
                <td>
                    <p>
                        **Thí sinh lưu ý:<br />
                        - Vui lòng đọc kỹ các thông tin về Quy định và Hướng dẫn dành cho thí sinh kỳ thi năng lực tiếng Hàn TOPIK tại <a href="https://topik.iigvietnam.com">đây</a>
                        <br />
                        - Thí sinh cần kiểm tra kỹ các thông tin đã đăng ký trên hệ thống. Trường hợp cần điều chỉnh thông tin, vui lòng liên hệ hotline <a href="tel: 1900636929">1900 636 929</a> (trong giờ hành chính) muộn nhất là
                        17h30 ngày 20/10/2023 để được hướng dẫn và hỗ trợ.
                        <br />
                        - Thông tin <strong>SỐ BÁO DANH, PHÒNG THI</strong> sẽ được cập nhật và gửi qua email cho thí sinh trong khoảng 02 tuần trước ngày thi.

                        <br />
                        <br />
                        Rất mong bạn thông cảm cho sự cố kỹ thuật này và tiếp tục đồng hành cùng IIG Việt Nam trong thời gian tới!
                        <br />
                        <br />
                        Để biết thêm thông tin hoặc cần được hỗ trợ, bạn vui lòng liên hệ với IIG Việt Nam qua email: info@iigvietnam.edu.vn hoặc hotline: 1900 636 929 (trong giờ hành chính).
                        <br />
                        <br />
                        Trân trọng cảm ơn! <br />
                        <br />
                        Tổ chức giáo dục IIG Việt Nam<br />
                        <br />
                        <strong>Đây là email tự động được gửi từ hệ thống. Thí sinh vui lòng không phản hồi lại email này!</strong>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
